body
{
  height: 100%;
  background-color: white;
}
/*Navbar properties*/
nav.navbar{
  background-color: #222222;
  border: none;
}
nav.navbar.shrink {
  min-height: 35px;
  background-color:#fff;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.navbar .brand {
max-height: 40px;
overflow: visible;
}
.navbar-brand > img {
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 80.5px;
  width: 181px;
}
.logo{
  padding-left: 80px;
}

/*Each section properties*/
.intro-section {
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #2d2d2d;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #2d2d2d;
}
.how-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.login-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.blog-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #2d2d2d;
}
.section {
  padding: 30px 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.section-white {
  background: #FFF;
}
.section-dark {
  background: #151515;
}
/*--------------------Call to Action Bar Style----------------------*/
.calltoaction-wrapper {
  text-align: center;
}
.calltoaction-wrapper .btn {
  color: #151515;
  border-radius: 0;
  margin-top: 0px;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  text-align: center;
  background: none repeat scroll 0 0 #aec62c;
  text-shadow: none;
  box-shadow: none;
  white-space: nowrap;
}

/* Need a pick up button down arrow effect */
.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #aec62c transparent transparent transparent;
}
.hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
/*-----------------------------Menu Animation--------------------------------------- */
nav a {
  position: relative
  display: inline-block;
  margin: 12px 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  font-family: 'Lato', Arial, sans-serif;
}

nav a:hover,
nav a:focus {
  outline: none;
}

.menu-anim {
  width: 107px;
  background-color: transparent;
  cursor: pointer;
  border-color: #fff;
}

.menu-anim:hover {
  border-color: #aec62c;
}


.menu-anim span:nth-child(1) {
  color: grey;
}


.menu-anim span:nth-child(2) {
  color: #aec62c;
}


.menu-anim span {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
}


.menu-anim {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  border-style: none;
  height: 50px;
  display: inline-block;
}


.menu-anim span {
  position: absolute;
  box-sizing: border-box;
  display: block;
}


.menu-anim>span>span:nth-child(3), .menu-anim:before, .menu-anim:after, .menu-anim>:first-child, .menu-anim>:first-child:before, .menu-anim>:first-child:after {
  border-color: inherit;
  display: block;
  -moz-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}


.menu-anim:before, .menu-anim:after, .menu-anim>:first-child:before, .menu-anim>:first-child:after {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  position: absolute;
  box-sizing: border-box;
  content: ' ';
}

.menu-anim>span>span:nth-child(3), .menu-anim:before, .menu-anim:after, .menu-anim>:first-child:before, .menu-anim>:first-child:after {
  border-width: .5px;
}
.menu-anim>span>span:nth-child(3) {
  border-radius: 1.5px;
}
.menu-anim:before {
  border-radius: 1.5px 0 0 1.5px;
}
.menu-anim:after {
  border-radius: 0 1.5px 1.5px 0;
}
.menu-anim>:first-child:before {
  border-radius: 1.5px 1.5px 0 0;
}
.menu-anim>:first-child:after {
  border-radius: 0 0 1.5px 1.5px;
}

.menu-anim>:first-child {
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}
.menu-anim>span span {
  width: inherit;
  text-align: center;
  -moz-transition: opacity 0.6s ease, top 0.5s ease;
  -webkit-transition: opacity 0.6s ease, top 0.5s ease;
  transition: opacity 0.6s ease, top 0.5s ease;
}
.menu-anim>span>span:nth-child(1) {
  opacity: 1;
  top: 18px;
}
.menu-anim>span>span:nth-child(2) {
  top: 37px;
  opacity: 0;
}
.menu-anim:hover>span>span:nth-child(1) {
  opacity: 0;
  top: 2px;
}
.menu-anim:hover>span>span:nth-child(2){
  opacity: 1;
  top: 18px;
}

.menu-anim>span>span:nth-child(3) {
  top: 28%;
  height: 44%;
  width: inherit;
  border-style: none solid none solid;
}


.menu-anim:before, .menu-anim:after {
  top: 0;
  width: 0;
  height: inherit;
  border-style: solid none solid none;
}

.menu-anim>:first-child:before, .menu-anim>:first-child:after {
  left: 0;
  height: 0;
  width: inherit;
  border-style: none solid none solid;
}

.menu-anim:before {
  -webkit-animation-name: left-center;
  animation-name: left-center;
}

.menu-anim:after {
  -webkit-animation-name: right-center;
  animation-name: right-center;
}

.menu-anim>:first-child:before {
  -webkit-animation-name: center-top;
  animation-name: center-top;
}

.menu-anim>:first-child:after {
  -webkit-animation-name: center-bottom;
  animation-name: center-bottom;
}

.menu-anim:hover:before {
  -webkit-animation-name: center-left;
  animation-name: center-left;
}

.menu-anim:hover:after {
  -webkit-animation-name: center-right;
  animation-name: center-right;
}

.menu-anim:hover>:first-child:before {
  -webkit-animation-name: top-center;
  animation-name: top-center;
}

.menu-anim:hover>:first-child:after {
  -webkit-animation-name: bottom-center;
  animation-name: bottom-center;
}



@-webkit-keyframes center-left {
    0%   {left: 40%; width: 8%; opacity: 0.2;}
    25%  {left: 25%; width: 15%;}
    50%  {left: 0%; width: 30%;}
    80%  {left: 0%; width: 0%;}
    100% {left: 0%; width: 0%; opacity: 1;}
}

@-webkit-keyframes left-center {
    0%   {left: 0%; width: 0%; opacity: 1;}
    20%  {left: 0%; width: 0%;}
    50%  {left: 0%; width: 30%;}
    55%  {left: 40%; width: 11%;}
    100% {left: 43%; width: 8%; opacity: 0.2;}
}

@-webkit-keyframes center-right {
    0%   {left: 52%; width: 8%; opacity: 0.2;}
    25%  {left: 60%; width: 15%;}
    50%  {left: 70%; width: 30%;}
    80%  {left: 100%; width: 0%;}
    100% {left: 100%; width: 0%; opacity: 1;}
}

@-webkit-keyframes right-center {
    0%   {left: 100%; width: 0%; opacity: 1;}
    20%  {left: 100%; width: 0%;}
    50%  {left: 70%; width: 30%;}
    55%  {left: 49%; width: 11%;}
    100% {left: 49%; width: 8%; opacity: 0.2;}
}

@-webkit-keyframes top-center {
    0%   {top: 0%; height: 0%; opacity: 0.2;}
    50%  {top: 0%; height: 0%;}
    60%  {top: 0%; height: 20%;}
    80%  {top: 0%; height: 50%;}
    90%  {top: 25%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}
@-webkit-keyframes center-top {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 25%; height: 25%;}
    20%  {top: 0%; height: 50%;}
    40%  {top: 0%; height: 20%;}
    50%  {top: 0%; height: 0%;}
    100% {top: 0%; height: 0%; opacity: 0.2;}
}

@-webkit-keyframes bottom-center {
    0%   {top: 100%; height: 0%; opacity: 0.2;}
    50%  {top: 100%; height: 0%;}
    60%  {top: 80%; height: 20%;}
    80%  {top: 50%; height: 50%;}
    90%  {top: 50%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}
@-webkit-keyframes center-bottom {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 50%; height: 25%;}
    20%  {top: 50%; height: 50%;}
    40%  {top: 80%; height: 20%;}
    50%  {top: 100%; height: 0%;}
    100% {top: 100%; height: 0%; opacity: 0.2;}
}



@keyframes center-left {
    0%   {left: 40%; width: 8%; opacity: 0.2;}
    25%  {left: 25%; width: 15%;}
    50%  {left: 0%; width: 30%;}
    80%  {left: 0%; width: 0%;}
    100% {left: 0%; width: 0%; opacity: 1;}
}

@keyframes left-center {
    0%   {left: 0%; width: 0%; opacity: 1;}
    20%  {left: 0%; width: 0%;}
    50%  {left: 0%; width: 30%;}
    55%  {left: 40%; width: 11%;}
    100% {left: 43%; width: 8%; opacity: 0.2;}
}

@keyframes center-right {
    0%   {left: 52%; width: 8%; opacity: 0.2;}
    25%  {left: 60%; width: 15%;}
    50%  {left: 70%; width: 30%;}
    80%  {left: 100%; width: 0%;}
    100% {left: 100%; width: 0%; opacity: 1;}
}

@keyframes right-center {
    0%   {left: 100%; width: 0%; opacity: 1;}
    20%  {left: 100%; width: 0%;}
    50%  {left: 70%; width: 30%;}
    55%  {left: 49%; width: 11%;}
    100% {left: 49%; width: 8%; opacity: 0.2;}
}

@keyframes top-center {
    0%   {top: 0%; height: 0%; opacity: 0.2;}
    50%  {top: 0%; height: 0%;}
    60%  {top: 0%; height: 20%;}
    80%  {top: 0%; height: 50%;}
    90%  {top: 25%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}
@keyframes center-top {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 25%; height: 25%;}
    20%  {top: 0%; height: 50%;}
    40%  {top: 0%; height: 20%;}
    50%  {top: 0%; height: 0%;}
    100% {top: 0%; height: 0%; opacity: 0.2;}
}

@keyframes bottom-center {
    0%   {top: 100%; height: 0%; opacity: 0.2;}
    50%  {top: 100%; height: 0%;}
    60%  {top: 80%; height: 20%;}
    80%  {top: 50%; height: 50%;}
    90%  {top: 50%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}
@keyframes center-bottom {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 50%; height: 25%;}
    20%  {top: 50%; height: 50%;}
    40%  {top: 80%; height: 20%;}
    50%  {top: 100%; height: 0%;}
    100% {top: 100%; height: 0%; opacity: 0.2;}
}
/*-----------------------------------Menu Animation Over---------------------------------*/
section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
/* carousel height fix */
#main-slider .carousel .item{
  height:70vh;
}
